.about {
    text-align: center;
    background-color: #FFF5F6;
    padding-top: 60px;
    padding-bottom: 40px;

    @media screen and (min-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 39px;
        background-position: center bottom 0;
        background-image: url(/src/images/about-images/about-img-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.about-title {
    margin: 0 auto;
}

.about-title.section-title {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
}

.about-info {
    padding-top: 32px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;

        .about-info-image,
        .about-info-main {
            gap: 16px;

        }
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        /*padding-top: 60px; */
    }

    .about-info-image,
    .about-info-main {
        width: calc(50% - 49.5px);
        margin: 0 49.5px;
    }
}

img {
    width: 100%;
}

.about-info-image {
    width: 280px;
    padding-bottom: 40px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    @media screen and (min-width: 1024px) {
        width: 501px;
    }
}

.about-info-main {
    text-align: left;
    width: 220px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.48px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        /*width: 334px;*/
    }

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        padding-top: 90px;
        /*width: 334px;*/
    }
}

.about-info-text {
    color: #000;
    padding-bottom: 18px;
    line-height: 162%;

    @media screen and (min-width: 768px) {
        padding-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 32px;
    }

}

.about-info-description {
    color: #907E82;
    line-height: 194%;

    letter-spacing: 0.48px;
    padding-bottom: 20px;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 176px;
    padding: 14px 30px;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    transition: background-color 250ms linear;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.31;
    }

    &:hover,
    &:focus {
        background-color: var(--bg-btn-light-hover);
    }
}

.btn-light-icon {
    width: 8px;
    height: 10px;
    margin-left: 14px;
    fill: var(--bg-btn-dark);
}
