/* Mobile */

.list {
    list-style: none;
}

.advantages {
    padding-bottom: 97px;
    padding-top: 40px;
    background-color:var(--bg-section);
}


.advantages-list {
    margin: 0 20px;
}

.advantages-list .advantages-image {
    padding-bottom: 16px;
    width: 33px;

}

.advantages-list .section-title {
    text-align: left;
    padding-bottom: 18px;
    text-transform: lowercase;
}

.advantages-list .advantages-descriptions {
    text-align: left;
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 20.4px */
    letter-spacing: 0.24px;
    width: 274px;
    padding-bottom: 32px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .advantages {
        padding-top: 52px;
        padding-bottom: 37px;
    }

    .advantages-list {
        /*margin: 0; */
        display: flex;
        justify-content: space-between;
        /*flex-wrap: wrap; */
        align-items: flex-start;
    }

    .advantages-item {
        flex:1;
        /*margin-right: 19px; */
        padding:0 15px;
        /*vertical-align: top; */
        margin-bottom: 20px;
    }

    .advantages-list .advantages-image {
        padding-bottom: 36px;
    }

    .advantages-list .advantages-image:nth-child(1) {
        margin-bottom: 0;
    }

    .advantages-list .section-title {
        text-align: left;
        padding-bottom: 13px;
    
    }

    .advantages-list .advantages-descriptions:nth-child(1) {
        flex: 1;
        font-size: 14px;
        padding-bottom: 18px;
        max-width: 250px;  
    }

    .advantages-list .advantages-image:nth-child(1) {
        padding-bottom: 0;
        height: 50px;
        width:auto;
    }

}

@media screen and (min-width: 1024px) {

    .advantages {
        padding-top: 60px;
        padding-bottom: 93px;
    }

    .advantages-list {
        margin: 0 16px;
    }

    .advantages-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
      }
      
    .advantages-item {
        flex: 1;
        padding: 10px;
      }
   
    .advantages-list .section-title {
        text-align: left;
        padding-bottom: 16px;
    }

    .advantages-list .advantages-descriptions {
        width: 288px;
        font-size: 16px;
    }

    .advantages-list .advantages-descriptions:nth-child(2) {
        width: 317px;
    }

    .advantages-list .advantages-image:nth-child(1) {
        padding-bottom: 0;
        height: 50px;
        width:auto;
    }
}