.footer-text-top {
  font-family: Titan One;
  text-transform: uppercase;
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  padding-top: 136px;
  margin-bottom: 20px;
  // position: absolute;
  // z-index: 10;
}
.footer-text-buttom {
  color: #d41443;
  font-size: 48px;
  line-height: 96.5%;
  letter-spacing: 2.32px;
}
