.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--lightwhite) 20%,
    var(--white) 20%,
    var(--white) 80%
  );
}

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery__img-tablet {
  display: none;
}

.gallery__img-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(
      to bottom,
      var(--lightwhite) 60%,
      var(--white) 60%,
      var(--white) 40%
    );
  }

  .gallery__img-mobile {
    display: none;
  }

  .gallery__img-tablet {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    background-image: linear-gradient(
      to bottom,
      var(--lightwhite) 20%,
      var(--white) 20%,
      var(--white) 80%
    );
  }

  .gallery__img-mobile {
    display: none;
  }

  .gallery__img-tablet {
    display: none;
  }

  .gallery__img-desktop {
    display: block;
  }
}
