@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@800&display=swap');
/*Google Fonts*/

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: #fafafa;
  --white: #fff;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --lightgray: #f4f4fd;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  column-gap: 24px;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

.testi-image {
  margin: 0 auto;
  display: flex;
  height: 85px;
  width: 85px;
  background: var(--cloud);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 16px;
  border-radius: 50%;
}
.testi-paragraph {
  background-color: var(--grey);
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  padding: 47px 116px;
}
