@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@800&display=swap');
/*Google Fonts*/

* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  @media screen and (max-width: 768px) {
    min-width: 768px;
  }
  @media screen and (max-width: 320px) {
    min-width: 320px;
  }
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: #fafafa;
  --white: #fff;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --lightgray: #f4f4fd;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  text-align: center;
  margin: 0 auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  column-gap: 24px;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background: #d31342;
  background-image: url(../images/icons/icons.svg#house);
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.testi-author {
  margin-bottom: 32px;
}

.testi-image {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  background: var(--cloud);

  flex-shrink: 0;
  margin-bottom: 16px;
  border-radius: 50%;
}
.testi-content {
  margin: 0 auto;
  background-color: var(--grey);
  width: 968px;
  padding: 47px 116px 47px 108px;

  @media screen and (max-width: 768px) {
    width: 620px;
    padding: 37px 64px 44px;
  }
  @media screen and (max-width: 320px) {
    width: 281px;
    margin: 0 auto;
    padding: 47px 65px 47px 58px;
  }
}
.testimonial-icons {
  position: absolute;
  transform: translateY(-45%);
  @media screen and (max-width: 768px) {
    margin-left: -550px;
    transform: translateY(-70%);
  }

  @media screen and (max-width: 320px) {
    margin-left: -500px;
    transform: translateY(-40%);
  }
} /*
.testi-icon {
  width: 54px;
  height: 40px;
  @media screen and (max-width: 768px) {
    width: 60.3px;
  }

  @media screen and (max-width: 320px) {
    width: 54px;
  }
}*/
.testi-paragraph {
  display: inline;
  justify-content: center;
  width: 968px;
  border-bottom: 2px solid #e1e1e1;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
  }

  @media screen and (max-width: 320px) {
    font-size: 12px;
    line-height: 260%;
    letter-spacing: 0.48px;
  }
}
