<section class="advantages" id="advantages">
    <div class="container">
        <h2 class="visually-hidden" hidden>advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <img class="advantages-image" src="/src/images/advantages-images/advantages-icon1.png">
                <p class="section-title">721</p>
                <p class="advantages-descriptions">At 721 Cow, we're passionate about producing the highest quality ice cream possible.</p>
            </li>
            <li class="advantages-item">
                <img class="advantages-image" src="/src/images/advantages-images/advantages-icon2.png">
                <p class="section-title">16kg</p>
                <p class="advantages-descriptions">You can be sure you're getting a scoop of the freshest ice cream around.</p>
            </li>
            <li class="advantages-item">
                <img class="advantages-image" src="/src/images/advantages-images/advantages-icon3.png">
                <p class="section-title">84</p>
                <p class="advantages-descriptions">We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious flavors.</p>
            </li>
        </ul>
    </div>
</section>