<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <include src="../index.html"></include>
</head>

<body>
    <section class="section section-review-container">
        <div class="container review-container">
            <ul class="customer-review">
                <li class="customer-list-item"></li>
                <li class="customer-paragraph">I love visiting your cafe. You Prepare the most delicious ice cream in
                    Los Angeles in addition, you have
                    a beautiful serving, cozy atmosphere and polite staff.</li>
                <li></li>
                <li></li>
                <li></li>

            </ul>
        </div>
    </section>
</body>

</html>