<footer class="page-footer">
  <div class="container">
    <div class="page-elements">
      <div class="footer-text">
        <p class="footer-text-top">homemade ice cream made <br /></p>
        <p class="footer-text-bottom">with passion</p>
      </div>
      <div class="footer-social-message">
        <ul class="footer-social">
          <li>
            <a href="https://github.com/" target="_blank" rel="noopener noreferrer" class="footer-social-link">
              <svg class="footer-socials-icon">
                <use href="./images/footer-icons/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://telegram.org/" target="_blank" rel="noopener noreferrer" class="footer-social-link">
              <svg class="footer-socials-icon">
                <use href="./images/footer-icons/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="footer-social-link">
              <svg class="footer-socials-icon">
                <use href="./images/footer-icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer-address">
          <a>
            <span class="footer-message">Feel free to contact
              <a href="tel:+610383766284" class="mobile-contact link" target="_blank" rel="noopener noreferrer">+61 (0) 383 766 284</a></span>
          </a>
        </div>
      </div>
    </div>
    <div class="page-copyright">
      <p class="copyright">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
