<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="galleries">
        <div class="galleries-container container">
            <ul class="galleries-list">
                <li class="galleries-list-item">
                    <a class="galleries-itel_link" href="">
                        <img src="../images/galleries-images/home-pic5 5.png" alt="green ice cream drops">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 4.png" alt="pink ice cream in a cone">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 6.png" alt="pink berries ice drops">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 1.png" alt="Various ice cream flavors in a cone">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 7.png" alt="a woman with short hair eating ice cream from a cone">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 9.png" alt="ice cream with berries on top served in a clear bowl">
                    </a>
                    </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 8.png" alt="Selfie ice cream with a cafe backdrop">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 10.png" alt="holding ice cream while a pet dog licks it">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 12.png" alt="holding a straw-filled glass of chocolate shake">
                    </a>
                </li>
                <li class="galleries-list-item">
                    <a href="">
                        <img src="../images/galleries-images/home-pic5 11.png" alt="milk tea in a mason jar with a donut loaded with whipped cream on top">
                    </a>
                </li>
            </ul>    
        </div>        
    </section>
</body>
</html>

