
<header class="page-header">
<div class="container header">
    <nav class="header-nav">
        <a class="logo link" href="index.html">
            <svg width="199" height="51">
                <use class="logo" href="./images/header/icons.svg#group"></use>
            </svg>
        </a>
        <ul class="nav-menu-list">
            <li class="nav-menu-item">
                <a class="page-header-link current" href="/src/index.html">Home</a>
            </li>
            <li class="nav-menu-item">
                <a class="page-header-link" href="#testimonials">About us</a>
            </li>
            <li class="nav-menu-item">
                <a class="page-header-link" href="#about">How it's made?</a>
            </li>
            <li class="nav-menu-item">
                <a class="page-header-link" href="#product">Our products</a>
            </li>
            <li class="nav-menu-item">
                <a class="page-header-link" href="#contacts">Contacts</a>
            </li>
        </ul>
        <div class="header-buttons">
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="20" height="14">
                <use href="./images/header/icons.svg#burger"></use>
            </svg>
        </button>
        <button class="header-btn" data-modal-open type="button" width="159" height="44">
            Buy now
            <svg class="input-icon" width="10" height="10">
                <use href="./images/header/icons.svg#vector1"></use>
            </svg>
        </button>
        </div>
    </nav>
    <div class="mobile-nav js-menu-container">
        <button class="mobile-menu-btn" type="button" width="159" height="44">
            Buy now
            <svg class="input-icon" width="10" height="10">
                <use href="./images/header/icons.svg#vector1"></use>
            </svg>
        </button>
        <ul class="mobile-nav-menu">
            <li class="mobile-nav-menu-item">
                <a class="mobile-nav-menu-item-list current" href="/src/index.html">Home</a>
            </li>
            <li class="mobile-nav-menu-item">
                <a class="mobile-nav-menu-item-list" href="/">About us</a>
            </li>
            <li class="mobile-nav-menu-item">
                <a class="mobile-nav-menu-item-list" href="#about">How it's made?</a>
            </li>
            <li class="mobile-nav-menu-item">
                <a class="mobile-nav-menu-item-list" href="#products">Our products</a>
            </li>
            <li class="mobile-nav-menu-item">
                <a class="mobile-nav-menu-item-list" href="#contacts">Contact</a>
            </li>
        </ul>
        <button class="modal-nav-close js-close-menu" type="button">
            <svg class="close-icon" width="14" height="14">
                <use href="./images//header/icons.svg#close">
                </use>
            </svg>
        </button>
    </div>
    </header>
    
    