<section class="hero">
    <div class="container">
        <div class="hero-numbers-container">
            <ul class="hero-numbers">
                <li class="hero-numbers-list list">
                    <div class="hero-numbers-items">
                        <div class="behind-container">
                            <div class="hero-numbers-circle"></div>
                        </div>
                        <div class="front-container">
                            <h3 class="hero-numbers-item">
                                16
                            </h3>
                            <p class="hero-numbers-text">
                                cafes
                            </p>
                        </div>
                    </div>
                </li>
                <li class="hero-numbers-list list">
                    <div class="hero-numbers-items">
                        <div class="behind-container">
                            <div class="hero-numbers-circle"></div>
                        </div>
                        <div class="front-container">
                            <h3 class="hero-numbers-item">
                                23
                            </h3>
                            <p class="hero-numbers-text">
                                food trucks
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hero-title-container">
            <h1 class="hero-title">ICE CREAM <br> MADE WITH <br><span class="highlight">PASSION</span></h1>
            <ul class="hero-buttons">
                <li class="hero-buttons-list list">
                    <button class="hero-button-1 button-icon" type="button"><a class="hero-link" href="#product">Products</a></button>
                    <!--<button class="hero-button-1 button-icon" data-modal-open type="button">Products</button>-->
                </li>
                <li class="hero-buttons-list list">
                    <button class="hero-button-2 button-icon" type="button"><a class="hero-link" href="#about">How it's made?</a></button>
                </li>
            </ul>
        </div>
        <div class="hero-text-container">
            <div class="hero-text">
                <p class="hero-text-description">Indulge in a scoop of ice cream made with passion and treat your taste buds to an
                    unforgettable experience!
                </p>
                <img class="hero-text-arrow" src="./images/hero-images/arrow-right 3.png" alt="arrow-right" width="26" height="26">
            </div>
        </div>
        <div class="background-pictures">
            <img 
                class="background-picture-milk"
                srcset="./images/hero-images/milk-tb.png 152w, 
            	        ./images/hero-images/milk-pc.png 213w" 
                sizes="(min-width: 1280px) 213px, (min-width: 768px) 152px" 
                src="./images/hero-images/milk-tb.png" 
                alt="milk" 
            />
            <img 
                class="background-picture-ice-cream" 
                srcset="./images/hero-images/ice-cream-pc.png 236w, 
                        ./images/hero-images/ice-cream-tb.png 143w,
                        ./images/hero-images/ice-cream-mb.png 171w" 
                sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px, (min-width: 320px) 171w"
                src="./images/hero-images/ice-cream-mb.png" 
                alt="ice-cream" 
            />
            <div class="background-picture-circle"></div>
            <img 
                class="background-picture-woman" 
                srcset="./images/hero-images/woman-pc.png 304w,
                        ./images/hero-images/woman-tb.png 190w"
                sizes="(min-width: 1280px) 304px, (min-width: 768px) 190px"
                src="./images/hero-images/woman-tb.png" 
                alt="woman eating ice-cream" 
            />
        </div>
    </div>
</section>


