<!-- modal form for js, buy now is clicked -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="modal-close-icon" width="8" height="8">
                <use href="./images/icons/icons.svg#close"></use>
            </svg>
        </button>
        <p class="modal-header-text">
            Buy Now
        </p>
        <ul class="products-list">
            <li class="modal-list-item">
                <div class="products-list-item-description icecream-card">
                    <h2 class="products-list-item-header">ICE CREAM</h2>
                </div>
            </li>
            <li class="modal-list-item">
                <div class="products-list-item-description icecoffee-card">
                    <h2 class="products-list-item-header">ICE COFFEE</h2>
                </div>
            </li>
            <li class="modal-list-item">
                <div class="products-list-item-description milkshake-card">
                    <h2 class="products-list-item-header">MILKSHAKES</h2>
                </div>
            </li>
        </ul>
        <form class="modal-signup-form" name="signup-form" autocomplete="on">
            <label class="modal-form-label">
                <span class="form-label-text">Name</span>
                <input class="form-label-input" type="text" name="full-name" required />
                <svg class="form-input-icon" width="18" height="18">
                    <use href="./images/icons/icons.svg#person"></use>
                </svg>
            </label>
            <label class="modal-form-label">
                <span class="form-label-text">Phone</span>
                <input class="form-label-input" type="tel" name="phone-number" required />
                <svg class="form-input-icon" width="18" height="24">
                    <use href="./images/icons/icons.svg#phone"></use>
                </svg>
            </label>
            <label class="modal-form-textarea">
                <span class="form-label-text">Comment</span>
                <textarea name="comment" class="form-label-textarea" placeholder="Text input" rows="6"
                    required></textarea>
            </label>
        </form>
        <button class="modal-form-button" type="submit">Submit</button>
    </div>
</div>

