<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../sass/testimonial.css" />

</head>

<body>

    <div class="testi-container">

        <div class="contents-testimonial">


            <section class="testRow">

                <div class="testItem active">

                    <img src="../images/testimonial/testimonials1.jpg">
                    <div class="testimonial-content">
                        <p>I love visiting your cafe. You Prepare the most delicious ice cream in
                            Los Angeles in addition, you have
                            a beautiful serving, cozy atmosphere and polite staff.</p>
                        </p>
                    </div>
                    <svg class="testi-spacer" width="32px" height="4px">
                        <use href="../images/icons/icons.svg#dots2"></use>
                    </svg>
                    <h2>Emily, Los Angeles</h2>
                </div>

                <div class="testItem">

                    <img src="../images/testimonial/testimonials2.jpg">
                    <div class="testimonial-content">
                        <p>I love visiting your cafe. You Prepare the most delicious ice cream in
                            Los Angeles in addition, you have
                            a beautiful serving, cozy atmosphere and polite staff.</p>
                        </p>
                    </div>
                    <svg class="testi-spacer" width="32px" height="4px">
                        <use href="../images/icons/icons.svg#dots2"></use>
                    </svg>
                    <h2>Emily, Los Angeles</h2>
                </div>

                <div class="testItem">

                    <img src="../images/testimonial/testimonials3.jpg">
                    <div class="testimonial-content">
                        <p>I love visiting your cafe. You Prepare the most delicious ice cream in
                            Los Angeles in addition, you have
                            a beautiful serving, cozy atmosphere and polite staff.</p>
                        </p>
                        <svg class="testi-spacer" width="32px" height="4px">
                            <use href="../images/icons/icons.svg#dots2"></use>
                        </svg>
                        <h2>Emily, Los Angeles</h2>
                    </div>


            </section>

            <section class="indicators">
                <div class="dot active" attr='0' onclick="switchTest(this)">

                </div>
                <div class="dot" attr='1' onclick="switchTest(this)">

                </div>
                <div class="dot" attr='2' onclick="switchTest(this)">

                </div>
            </section>

        </div>
    </div>
    <script src="../js/testimonial.js"></script>
</body>

</html>