<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../sass/testimonial.css" />

</head>

<body>

    <div class="slideshow-container">

        <div class="container mySlides">
            <img src="../images/testimonials1.jpg" alt="" class="testi-image">
            <div class="testi-content">
                <div class="testimonial-icons">
                    <svg class="testi-icon" width="64" height="64">
                        <use href="../images/icons/icons.svg#quote"></use>
                    </svg>
                </div>
                <p class="testi-paragraph">I love visiting your cafe. You Prepare the most delicious ice cream in
                    Los Angeles in addition, you have
                    a beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <svg class="testi-icon-dots2" width="64" height="64">
                <use href="../images/icons/icons.svg#dots2"></use>
            </svg>
            <p class="testi-author">Emily, Los Angeles</p>
        </div>

        <div class="container mySlides">
            <img src="../images/testimonials2.jpg" alt="" class="testi-image">
            <div class="testi-content">
                <div class="testimonial-icons">
                    <svg class="testi-icon" width="64" height="64">
                        <use href="../images/icons/icons.svg#quote"></use>
                    </svg>
                </div>
                <p class="testi-paragraph">I love visiting your cafe. You Prepare the most delicious ice cream in
                    Los Angeles in addition, you have
                    a beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <svg class="testi-icon-dots2" width="64" height="64">
                <use href="../images/icons/icons.svg#dots2"></use>
            </svg>
            <p class="testi-author">Emily, Los Angeles</p>
        </div>
        <div class="container mySlides">
            <img src="../images/testimonials3.jpg" alt="" class="testi-image">
            <div class="testi-content">
                <div class="testimonial-icons">
                    <svg class="testi-icon" width="64" height="64">
                        <use href="../images/icons/icons.svg#quote"></use>
                    </svg>
                </div>
                <p class="testi-paragraph">I love visiting your cafe. You Prepare the most delicious ice cream in
                    Los Angeles in addition, you have
                    a beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <svg class="testi-icon-dots2" width="64" height="64">
                <use href="../images/icons/icons.svg#dots2"></use>
            </svg>
            <p class="testi-author">Emily, Los Angeles</p>
        </div>
    </div>

    <div class="dot-container">
        <span class="testi-icon-dots1" onclick="currentSlide(1)">
            <svg class="testi-icon2" width="64" height="64">
                <use class="dot-icon" href="../images/icons/icons.svg#dots1"></use>
            </svg>
        </span>
        <span class="testi-icon-dots1" onclick="currentSlide(2)">
            <svg class="testi-icon2" width="64" height="64">
                <use class="dot-icon" href="../images/icons/icons.svg#dots1"></use>
            </svg>
        </span>
        <span class="testi-icon-dots1" onclick="currentSlide(3)">
            <svg class="testi-icon2" width="64" height="64">
                <use class="dot-icon" href="../images/icons/icons.svg#dots1"></use>
            </svg>
        </span>
    </div>
    <script src="../js/testimonial.js"></script>
</body>

</html>